# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.txt
*.gz
*.log

PORTING_GUIDE.md

PROGRESS_REPORT.md

PROJECT_STATUS.md

SETUP_INSTRUCTIONS.md
